.anchor {
  -fx-background-color: #7f7f72
}

.input {
	-fx-background-color: #2F2F32;
	-fx-text-fill: #FFFFFF;
	-fx-highlight-fill: #76b900;
}

.feedback {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #000000
}

/*Tab Pane*/
.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 0;
}

.tab-pane {
	-fx-tab-min-width: 150px;
}

.tab {
	-fx-background-insets: 0 1 0 1, 0, 0;
	-fx-background-color: #626262;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #76b900;
}

.tab .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: #76B900;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.tab-pane .tab:selected {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0 0 5 0;
	-fx-border-color: #76b900;
}

.tab-pane:top *.tab-header-area {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

/*Titled Pane*/
.titled-pane .title {
	-fx-background-color: #626262;
}

.titled-pane .title .text {
	-fx-alignment: CENTER;
	-fx-fill: #96b946;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.titled-pane .title .arrow-button .arrow {
	-fx-background-color: #76B900
}

.titled-pane:expanded .title {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0 0 4 0;
	-fx-border-color: #76b900;
}

/*Table*/
.column-header {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0
}

.column-header .label {
	-fx-alignment: CENTER;
	-fx-text-fill: #76B900;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.table-view {
	-fx-control-inner-background: #3c3c3c;
	-fx-padding: 0px;
}

.table-view .scroll-bar:horizontal {
	-fx-scale-x: 0.0;
	-fx-scale-y: 0.0;
	-fx-scale-z: 0.0;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 30;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #76b900;
}