.anchor {
  -fx-background-color: #7f7f72
}

.input {
	-fx-background-color: #2F2F32;
	-fx-text-fill: #FFFFFF;
	-fx-highlight-fill: green;
}

.feedback {
	-fx-background-color: silver;
	-fx-border-color: darkgreen;
	-fx-border-width: 2px;
	-fx-text-fill: black; 
}

/*Tab Pane*/
.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 0;
}

.tab-pane {
	-fx-tab-min-width: 150px;
}

.tab {
	-fx-background-insets: 0 1 0 1, 0, 0;
	-fx-background-color: #626262;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #76b900;
}

.tab .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: #76B900;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.tab-pane .tab:selected {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0 0 5 0;
	-fx-border-color: #76b900;
}

.tab-pane:top *.tab-header-area {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

/*Titled Pane*/
.titled-pane .title {
	-fx-background-color: #626262;
}

.titled-pane .title .text {
	-fx-alignment: CENTER;
	-fx-fill: #96b946;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.titled-pane .title .arrow-button .arrow {
	-fx-background-color: #76B900
}

.titled-pane:expanded .title {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0 0 4 0;
	-fx-border-color: #76b900;
}

/*Table*/
.column-header {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0
}

.column-header .label {
	-fx-alignment: CENTER;
	-fx-text-fill: #76B900;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.table-view {
	-fx-control-inner-background: #494949;
	-fx-padding: 0px;
}

.table-view .scroll-bar:horizontal {
	-fx-scale-x: 0.0;
	-fx-scale-y: 0.0;
	-fx-scale-z: 0.0;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 30;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #76B900;
}

.table-view .table-cell {
	-fx-padding: 10 0 5 0;
	-fx-alignment: center;
	-fx-border-width: 1px;
	-fx-border-color: #626262;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: green;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: green;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: green;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}